
#ALIASES
alias iconsole='ipython qtconsole --pylab=inline'
alias l="ls -lah"
# alias ll="ls -l"
# alias la='ls -a'
# alias ls="ls -f"
# alias rm="rm -i"
#
#Show a nice tree structure - has been taken off in favor off the command `tree` in homebrew
#alias showtree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'" 

# Basic administration
alias pg="ping -c 4 www.google.com"
alias myip="echo '----LOCAL----' && ifconfig | grep inet && echo '----WAN IP----'  && curl ifconfig.me"
#make
alias m="clear && make clean && make"
alias pclean="rm *.pyc"

#Aliasing dtruss to strace, because htop doesnt know dtruss and strace doesnt exist in OSX
alias strace="dtruss"
