# This is the readline file for the input line on the command line. (for ez. in bash)
# http://www.reddit.com/r/commandline/comments/kbeoe/you_can_make_readline_and_bash_much_more_user/
set completion-ignore-case on

set completion-prefix-display-length 2

Control-j: menu-complete
Control-k: menu-complete-backward

set show-all-if-ambiguous on
set show-all-if-unmodified on

set completion-map-case on
