# Place this configuration at filepath: `bat --config-file`
#   e.g. in linux that is: `~/.config/bat/config`

# This is `bat`s configuration file. Each line either contains a comment or
# a command-line option that you want to pass to `bat` by default. You can
# run `bat --help` to get a list of all possible configuration options.

# Enable this to use italic text on the terminal. This is not supported on all
# terminal emulators (like tmux, by default):
--italic-text="always"

# Configure which elements (line numbers, file headers, grid borders, Git
# modifications, ..) to display in addition to the file contents. The
# argument is a comma-separated list of components to display (e.g.
# 'numbers,changes,grid') or a pre-defined style ('full').  To set a
# default style, add the '--style=".."' option to the configuration file or
# export the BAT_STYLE environment variable (e.g.: export BAT_STYLE="..").
# * full: enables all available components.
--style="full"

# Specify desired highlighting theme (e.g. "TwoDark"). Run `bat --list-themes`
# for a list of all available themes
# --theme="gruvbox-dark"

# CUSTOM THEME:
# NOTE:
# 1. `bat` can use sublime editor themes.
# 2. [tokyonight_night](https://github.com/folke/tokyonight.nvim/) > sublime
# 3. To set a custom theme: download the theme into `(bat --config-dir)/themes`
#    , then rebuild the theme cache with `bat cache --build`, grab the theme's
#    name ex. `bar --list-themes | rg tokyo` and provide that theme name here.
--theme="tokyonight_night"
